{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{% if object %}Mietvertrag bearbeiten{% else %}Neuer Mietvertrag{% endif %}{% endblock %}

{% block content %}
<div class="row g-4 {% if not object %}justify-content-center{% endif %}">
    <div class="{% if object %}col-12 col-xl-7{% else %}col-12 col-xl-8{% endif %}">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'lease_list' %}" class="btn btn-light me-2">Abbrechen</a>
                        <button type="submit" class="btn btn-primary px-4">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if object %}
        <div class="col-12 col-xl-5">
            {% include "webapp/partials/_attachments_panel.html" with attachments_panel=attachments_panel attachments_panel_inline=True %}
        </div>
    {% endif %}
</div>
{% endblock %}
